<a href="https://colab.research.google.com/github/jivitheshreddy/INFO-5731-Srping2023/blob/main/In_class_exercise_02_02072023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The second In-class-exercise (02/07/2023, 40 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Questions: What are the best hotels for stay in Hyderabad,India. ?
Data needed : For the above question we would be needing hotel reviews , rating and price .As ratings and review would be
helpful while searching for good hotels. 

Steps:I would be using Oyorooms website for extracting the data.
I will be using beautifulSoup to extract the info from website.
I would be extracting name,address,rating , price from the website.
I would first extract of hotels and looop thrugh them for extracting the remaining data.
Finally i would create a datatframe from the data.
I have scarped 120 records as the website had only 7 pages , i have looped throiugh them got only 120 hotel reviews.








'''

Question 2 (10 points): Write python code to collect 1000 data samples you discussed above.

In [ ]:
import numpy as np
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium import webdriver
url="https://www.oyorooms.com/hotels-in-hyderabad/"
import pandas as pd
def get_data(url):
    browser=webdriver.Firefox()
    browser.get(url)
    html=browser.page_source
    soup=BeautifulSoup(html,'html.parser')
    listings=soup.find_all("div",class_="hotelCardListing__descriptionWrapper")
    n=[]
    a=[]
    r=[]
    p=[]
    for i in listings:
        name=i.find_all("h3",class_="listingHotelDescription__hotelName d-textEllipsis")
        if len(name)!=0:
            n.append(name[0].text)
        else:
            n.append(np.nan)
        addr=i.find_all("span",attrs={'itemprop':'streetAddress'})
        if len(addr)!=0:
            a.append(addr[0].text)
        else:
            a.append(np.nan)
        rating=i.find_all("meta",attrs={'itemprop':'ratingValue'})
        if len(rating)!=0:
            r.append(rating[0]['content'])
        else:
            r.append(np.nan)
        price=i.find_all("span",class_="listingPrice__finalPrice")
        if len(price)!=0:
            p.append(price[0].text)
        else:
            p.append(np.nan)
    table=pd.DataFrame({'name':n,'addrs':a,'rating':r,'price':p})
    return table

In [ ]:
base_url='https://www.oyorooms.com/hotels-in-hyderabad/?page={}'
master={}
from tqdm import tqdm
for i in tqdm(range(1,7)):
    url=base_url.format(i)
    master[i]=get_data(url)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6/6 [01:17<00:00, 12.95s/it]

In [ ]:
big_table=pd.concat([master[i] for i in master],axis=0)

In [ ]:
big_table

,name,addrs,rating,price
0,OYO Flagship 704007 Hotel Ashoka Classic,"Hyderabad, Hyderabad",3.7,â‚¹626
1,OYO 86305 Hotel Aroma Classic,15-1-309 Feelkhana Near Acharaya Bhavan Baba R...,3.9,â‚¹599
2,OYO Flagship 80484 Simra Relax Inn,"Hyderabad, Hyderabad",4.2,â‚¹626
3,OYO Flagship 806329 Flagship Langar Houz,", Hyderabad",4.1,â‚¹699
4,SPOT ON 807530 Blue Star Lodge,"Nampally, Hyderabad",NaN,â‚¹454
...,...,...,...,...
15,SPOT ON 70822 Pnd Complex,"R C I Rd, Hyderabad",3.6,â‚¹899
16,OYO 82310 Holiday Inn,"Telangana, Hyderabad",4.2,â‚¹1135
17,Capital O 44354 Jubilee Banjara Suites,"Near American Hospital, Banjarahills, Hyderabad",3.4,â‚¹1410
18,OYO 701448 Heavens Inn,"Secunderabad Mandal, Hyderabad",4.2,â‚¹1141
19,OYOFlagship 80467H Hotel R Square,"LB NAGAR, Hyderabad",3.2,â‚¹1196

Question 3 (10 points): Write python code to collect 1000 articles from Google Scholar (https://scholar.google.com/), Microsoft Academic (https://academic.microsoft.com/home), or CiteSeerX (https://citeseerx.ist.psu.edu/index), or Semantic Scholar (https://www.semanticscholar.org/), or ACM Digital Libraries (https://dl.acm.org/) with the keyword "information retrieval". The articles should be published in the last 10 years (2012-2022).

The following information of the article needs to be collected:

(1) Title

(2) Venue/journal/conference being published

(3) Year

(4) Authors

(5) Abstract

In [6]:
import requests
import json
import pandas as pd

topic = 'information retrieval'
headers = {}
payload = {}
results = []

for i in range(0, 10):
    offset = i * 100
    url = f"https://api.semanticscholar.org/graph/v1/paper/search?query={topic}&offset={offset}&limit=100&fields=title,abstract,authors,year,venue"
    response = requests.request("GET", url, headers=headers, data=payload)
    data = json.loads(response.text)['data']
    results.extend(data)

df = pd.DataFrame(results)

In [7]:
df

,paperId,title,abstract,venue,year,authors
0,5f3b50c6c826ad105163b09d53e1eb498a4b3994,Introduction to Information Retrieval,Introduction To Information Retrieval Overdriv...,J. Assoc. Inf. Sci. Technol.,2010.0,"[{'authorId': '1803434', 'name': 'R. Larson'}]"
1,807600ef43073cd9c59d4208ee710e90cf14efa8,BEIR: A Heterogenous Benchmark for Zero-shot E...,Existing neural information retrieval (IR) mod...,NeurIPS Datasets and Benchmarks,2021.0,"[{'authorId': '47583894', 'name': 'Nandan Thak..."
2,806c2c4327a31fded64a5d673ab82b133194c234,Introduction to information retrieval,"Class-tested and coherent, this textbook teach...",,2008.0,"[{'authorId': '144783904', 'name': 'Christophe..."
3,49af3e80343eb80c61e727ae0c27541628c7c5e2,Introduction to Modern Information Retrieval,Some people may be laughing when looking at yo...,,1983.0,"[{'authorId': '1797808', 'name': 'G. Salton'},..."
4,72c58a58ba1684dc8337c8e64e0b5dacfc94499e,Information Retrieval,None,Lecture Notes in Computer Science,2018.0,"[{'authorId': '32293755', 'name': 'A. Dekhtyar'}]"
...,...,...,...,...,...,...
995,ad904e3667b4befc4511ea6320681a80fd8ae7be,Automatic text decomposition using text segmen...,With the widespread use of full-text informati...,UK Conference on Hypertext,1996.0,"[{'authorId': '1797808', 'name': 'G. Salton'},..."
996,e5e0a86288a18de079d3d9d53f9018600d2eda5b,Retrieving with Good Sense,None,Information retrieval (Boston),2000.0,"[{'authorId': '144721996', 'name': 'M. Sanders..."
997,8e03d064282673120f81c86993466a23af00f037,Supporting content-based queries over images i...,While advances in technology allow us to gener...,Proceedings of IEEE International Conference o...,1997.0,"[{'authorId': '144156242', 'name': 'S. Mehrotr..."
998,3f900d6782152e3fe2ecb8f6d9bb12879dacf6e4,Case-Based User Profiling for Content Personal...,None,International Conference on Adaptive Hypermedi...,2000.0,"[{'authorId': '144372969', 'name': 'Keith Brad..."
999,228029e7533e32a025071e31e3f4f08d2bea5f5a,Automatic image annotation and retrieval using...,Libraries have traditionally used manual image...,Annual International ACM SIGIR Conference on R...,2003.0,"[{'authorId': '1791802', 'name': 'J. Jeon'}, {..."

Question 4 (10 points): Write python code to collect 1000 posts from Twitter, or Facebook, or Instagram. You can either use hashtags, keywords, user_name, user_id, or other information to collect the data. 

The following information needs to be collected:

(1) User_name

(2) Posted time

(3) Text

In [ ]:
!pip install tweepy

Collecting tweepy
  Downloading tweepy-4.12.1-py3-none-any.whl (101 kB)
     ------------------------------------ 101.6/101.6 KB 652.9 kB/s eta 0:00:00
Requirement already satisfied: oauthlib<4,>=3.2.0 in c:\users\jivit\appdata\local\programs\python\python310\lib\site-packages (from tweepy) (3.2.0)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in c:\users\jivit\appdata\local\programs\python\python310\lib\site-packages (from tweepy) (1.3.1)
Requirement already satisfied: requests<3,>=2.27.0 in c:\users\jivit\appdata\local\programs\python\python310\lib\site-packages (from tweepy) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jivit\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jivit\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.27.0->tweepy) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jivit\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.27.0->tweepy) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jivit\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2.0.12)
Installing collected packages: tweepy
Successfully installed tweepy-4.12.1

WARNING: You are using pip version 22.0.4; however, version 23.0 is available.
You should consider upgrading via the 'C:\Users\jivit\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [4]:
import pandas as pd
import numpy as np
import tweepy
from tweepy import OAuthHandler
import requests
import json

consumer_key ="2Em7SxlX9jPMfL4x97r3zMO0x"
consumer_secret = "sVbJzekKuiAgq83Y7gCwNVbSowqQokGVzWexKHl2cXIPceWtSd"
access_token ="1439767876962029572-uUMt8oWRyzj9ilE5zk4uYbL93sCMPT"
access_token_secret = "oydIGymn9bS767FVEMawE9GyGAnMmBJfaY2XXKmHnmliF"

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

twe = tweepy.Cursor(api_auth.user_timeline, id=user_name).items(1000)

tweets_df = [[user_name ,tweet.created_at, tweet.text] for tweet in twe]

tweet = pd.DataFrame(tweets_df)
tweet.columns=['user_name','posted time','text']
tweet

,user_name,posted time,text
0,imVkohli,2023-02-12 17:04:41,(2/2) The womenâ€™s team is taking such giant le...
1,imVkohli,2023-02-12 17:04:41,(1/2)What a win from our women's team against ...
2,imVkohli,2023-02-12 03:58:00,Blue is brave. Blue is brilliant. Blue is hÌ¶iÌ¶...
3,imVkohli,2023-02-11 10:02:35,1-0. Nagpur. âœ… https://t.co/GzfE7J1E2F
4,imVkohli,2023-02-08 08:16:11,Running into BGT starting tomorrow ðŸ¤©. Always a...
...,...,...,...
995,imVkohli,2019-07-31 14:59:55,"I'm always on the go, so I need a little bit e..."
996,imVkohli,2019-07-29 14:40:24,Miami bound ðŸ˜ŽðŸ’ªðŸ‡®ðŸ‡³ https://t.co/ywIh0ePTuZ
997,imVkohli,2019-07-29 09:55:19,Did you see what the future looks like? Follow...
998,imVkohli,2019-07-28 07:35:59,@imjadeja is a game changer in the future too....
999,imVkohli,2019-07-28 06:44:12,Honoured to be a part of such a special evenin...