<a href="https://colab.research.google.com/github/jivitheshreddy/INFO-5731-Srping2023/blob/main/In_class_exercise_02_02072023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The second In-class-exercise (02/07/2023, 40 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Questions: What are the best hotels for stay in Hyderabad,India. ?
Data needed : For the above question we would be needing hotel reviews , rating and price .As ratings and review would be
helpful while searching for good hotels. 

Steps:I would be using Oyorooms website for extracting the data.
I will be using beautifulSoup to extract the info from website.
I would be extracting name,address,rating , price from the website.
I would first extract of hotels and looop thrugh them for extracting the remaining data.
Finally i would create a datatframe from the data.
I have scarped 120 records as the website had only 7 pages , i have looped throiugh them got only 120 hotel reviews.








'''

Question 2 (10 points): Write python code to collect 1000 data samples you discussed above.

In [ ]:
import numpy as np
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium import webdriver
url="https://www.oyorooms.com/hotels-in-hyderabad/"
import pandas as pd
def get_data(url):
    browser=webdriver.Firefox()
    browser.get(url)
    html=browser.page_source
    soup=BeautifulSoup(html,'html.parser')
    listings=soup.find_all("div",class_="hotelCardListing__descriptionWrapper")
    n=[]
    a=[]
    r=[]
    p=[]
    for i in listings:
        name=i.find_all("h3",class_="listingHotelDescription__hotelName d-textEllipsis")
        if len(name)!=0:
            n.append(name[0].text)
        else:
            n.append(np.nan)
        addr=i.find_all("span",attrs={'itemprop':'streetAddress'})
        if len(addr)!=0:
            a.append(addr[0].text)
        else:
            a.append(np.nan)
        rating=i.find_all("meta",attrs={'itemprop':'ratingValue'})
        if len(rating)!=0:
            r.append(rating[0]['content'])
        else:
            r.append(np.nan)
        price=i.find_all("span",class_="listingPrice__finalPrice")
        if len(price)!=0:
            p.append(price[0].text)
        else:
            p.append(np.nan)
    table=pd.DataFrame({'name':n,'addrs':a,'rating':r,'price':p})
    return table

In [ ]:
base_url='https://www.oyorooms.com/hotels-in-hyderabad/?page={}'
master={}
from tqdm import tqdm
for i in tqdm(range(1,7)):
    url=base_url.format(i)
    master[i]=get_data(url)

100%|████████████████████████████████████████████████████████████████████████████████████| 6/6 [01:17<00:00, 12.95s/it]

In [ ]:
big_table=pd.concat([master[i] for i in master],axis=0)

In [ ]:
big_table

,name,addrs,rating,price
0,OYO Flagship 704007 Hotel Ashoka Classic,"Hyderabad, Hyderabad",3.7,₹626
1,OYO 86305 Hotel Aroma Classic,15-1-309 Feelkhana Near Acharaya Bhavan Baba R...,3.9,₹599
2,OYO Flagship 80484 Simra Relax Inn,"Hyderabad, Hyderabad",4.2,₹626
3,OYO Flagship 806329 Flagship Langar Houz,", Hyderabad",4.1,₹699
4,SPOT ON 807530 Blue Star Lodge,"Nampally, Hyderabad",NaN,₹454
...,...,...,...,...
15,SPOT ON 70822 Pnd Complex,"R C I Rd, Hyderabad",3.6,₹899
16,OYO 82310 Holiday Inn,"Telangana, Hyderabad",4.2,₹1135
17,Capital O 44354 Jubilee Banjara Suites,"Near American Hospital, Banjarahills, Hyderabad",3.4,₹1410
18,OYO 701448 Heavens Inn,"Secunderabad Mandal, Hyderabad",4.2,₹1141
19,OYOFlagship 80467H Hotel R Square,"LB NAGAR, Hyderabad",3.2,₹1196

Question 3 (10 points): Write python code to collect 1000 articles from Google Scholar (https://scholar.google.com/), Microsoft Academic (https://academic.microsoft.com/home), or CiteSeerX (https://citeseerx.ist.psu.edu/index), or Semantic Scholar (https://www.semanticscholar.org/), or ACM Digital Libraries (https://dl.acm.org/) with the keyword "information retrieval". The articles should be published in the last 10 years (2012-2022).

The following information of the article needs to be collected:

(1) Title

(2) Venue/journal/conference being published

(3) Year

(4) Authors

(5) Abstract

In [ ]:
import requests
import json
import pandas as pd

topic = 'information retrieval'
headers = {}
payload = {}
results = []

for i in range(0, 10):
    offset = i * 100
    url = f"https://api.semanticscholar.org/graph/v1/paper/search?query={topic}&offset={offset}&limit=100&fields=title,abstract,authors,year,venue"
    response = requests.request("GET", url, headers=headers, data=payload)
    data = json.loads(response.text)['data']
    results.extend(data)

df = pd.DataFrame(results)

In [ ]:
df

,paperId,title,abstract,venue,year,authors
0,dff9c4988d374e556c2940973b3f5b7980596509,Search Engines: Information Retrieval in Practice,None,Computer/law journal,2011,"[{'authorId': '143716988', 'name': 'M. Levene'}]"
1,f0bc70cb4d9d5b7fde62bedd532faadf03775ab1,Concept-Based Information Retrieval Using Expl...,Information retrieval systems traditionally re...,TOIS,2011,"[{'authorId': '1875787', 'name': 'Ofer Egozi'}..."
2,a489d95fb930401c1f4b7d92bb139d271d49abbf,AdaRank: a boosting algorithm for information ...,In this paper we address the issue of learning...,Annual International ACM SIGIR Conference on R...,2007,"[{'authorId': '2150635498', 'name': 'Jun Xu'},..."
3,7137a80d199e82397a564696e12773256f343d17,LETOR: A benchmark collection for research on ...,None,Information retrieval (Boston),2010,"[{'authorId': '143826491', 'name': 'Tao Qin'},..."
4,9f1b0fa1c157a1255af4a10c434da73a0f881221,Information Retrieval in Folksonomies: Search ...,None,Extended Semantic Web Conference,2006,"[{'authorId': '1792623', 'name': 'A. Hotho'}, ..."
...,...,...,...,...,...,...
95,546c1da4b79661c8ffc794ab508565292cff50d9,"Topical N-Grams: Phrase and Topic Discovery, w...","Most topic models, such as latent Dirichlet al...",Industrial Conference on Data Mining,2007,"[{'authorId': '1526973953', 'name': 'Xuerui Wa..."
96,2589215fa519956ab8082c21609bfbe9ea33d3da,Advances in Multilingual and Multimodal Inform...,None,Conference and Labs of the Evaluation Forum,2008,"[{'authorId': '144423157', 'name': 'C. Peters'..."
97,41128ee6abb284d9c6b941910ecd87640974a15c,Interactive information retrieval,Information retrieval is a fundamental compone...,Annual Review of Information Science and Techn...,2008,"[{'authorId': '145191197', 'name': 'I. Ruthven'}]"
98,3e766699a0a9254a30d960ef06e19a04198ba825,The Modern Algebra of Information Retrieval,None,The Information Retrieval Series,2008,"[{'authorId': '2927843', 'name': 'Sándor Domin..."
99,18da4e0fe1bc08403f6f023e380361ebc64890dc,The evolution of visual information retrieval,This paper seeks to provide a brief overview o...,Journal of information science,2008,"[{'authorId': '2137152', 'name': 'P. Enser'}]"

Question 4 (10 points): Write python code to collect 1000 posts from Twitter, or Facebook, or Instagram. You can either use hashtags, keywords, user_name, user_id, or other information to collect the data. 

The following information needs to be collected:

(1) User_name

(2) Posted time

(3) Text

In [ ]:
!pip install tweepy

Collecting tweepy
  Downloading tweepy-4.12.1-py3-none-any.whl (101 kB)
     ------------------------------------ 101.6/101.6 KB 652.9 kB/s eta 0:00:00
Requirement already satisfied: oauthlib<4,>=3.2.0 in c:\users\jivit\appdata\local\programs\python\python310\lib\site-packages (from tweepy) (3.2.0)
Requirement already satisfied: requests-oauthlib<2,>=1.2.0 in c:\users\jivit\appdata\local\programs\python\python310\lib\site-packages (from tweepy) (1.3.1)
Requirement already satisfied: requests<3,>=2.27.0 in c:\users\jivit\appdata\local\programs\python\python310\lib\site-packages (from tweepy) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jivit\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\jivit\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.27.0->tweepy) (1.26.9)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jivit\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.27.0->tweepy) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jivit\appdata\local\programs\python\python310\lib\site-packages (from requests<3,>=2.27.0->tweepy) (2.0.12)
Installing collected packages: tweepy
Successfully installed tweepy-4.12.1

WARNING: You are using pip version 22.0.4; however, version 23.0 is available.
You should consider upgrading via the 'C:\Users\jivit\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [ ]:
# You code here (Please add comments in the code):


import pandas as pd
import numpy as np
import tweepy
from tweepy import OAuthHandler
import requests
import json

# Consumer key is the API key that a service provider (Twitter, Facebook, etc.) issues to a consumer (a service that wants to access a user's resources on the service provider). 
# This key is what identifies the consumer.
# Consumer secret is the consumer "password" that is used, along with the consumer key, to request access (i.e. authorization) to a user's resources from a service provider.
# Access token is what is issued to the consumer by the service provider once the consumer completes authorization. 
# This token defines the access privileges of the consumer over a particular user's resources. 
# Each time the consumer wants to access the user's data from that service provider, the consumer includes the access token in the API request to the service provider.

consumer_key ="2Em7SxlX9jPMfL4x97r3zMO0x"
consumer_secret = "sVbJzekKuiAgq83Y7gCwNVbSowqQokGVzWexKHl2cXIPceWtSd"
access_token ="1439767876962029572-uUMt8oWRyzj9ilE5zk4uYbL93sCMPT"
access_token_secret = "oydIGymn9bS767FVEMawE9GyGAnMmBJfaY2XXKmHnmliF"

auth=tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token,access_token_secret)
api=tweepy.API(auth)
tweets=api.user_timeline("ShashiTharoor",page=1,count=200)

TypeError: API.user_timeline() takes 1 positional argument but 2 were given