<a href="https://colab.research.google.com/github/jivitheshreddy/INFO-5737-Srping2023/blob/main/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [3]:
# write your answer here
st=input('Enter String ')
count=0
for i in st:
  count=count+1;
print('Length of string is',count)

Enter String jim
Length of string is 3

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [15]:
# write your answer here
sample='google.com'
count={}
for char in sample:
  if char in count:
    count[char]=count[char]+1;
  else:
    count[char]=1
print(count)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [22]:
sorted(count.items(),key=lambda x:x[1], reverse=True)

[('o', 3), ('g', 2), ('l', 1), ('e', 1), ('.', 1), ('c', 1), ('m', 1)]

(3) Write a Python program to sum all the items in a list. (4 points)

In [24]:
# write your answer here
ls=[1,2,3,4]

sum=0
for i in ls:
  sum=sum+i;
print('Sum is',sum)

Sum is 10

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [11]:
# write your answer here
sample='restart'
result=''
charToRep=sample[0]
for i in range(1,len(sample)):
  if sample[i]==charToRep:
    result=result+'$'
  else:
    result=result+sample[i]
print(sample[0]+result)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [13]:
# write your answer here
a=int(input('Enter a value'))
b=int(input('Enter b value'))
S=3.14*(1+a/b)**3
print(S)

Enter a value12
Enter b value12
25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [19]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40} 
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [23]:
# write your answer here
mytuple = ("apple", "banana", "cherry")
element=input('Enter element to search')
count=0
for i in mytuple:
  if i==element:
    count=count+1
if count>0:
  print('the element exists')
else:
  print('Does not exist')

Enter element to searchmango
Does not exist

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [46]:
# write your answer here
myset=set([1,2,5,788])

In [49]:
min=1
max=1
for i in myset:
  if i>max:
    max=i
  elif i<min:
    min=i
print(min)
print(max)

1
788

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [71]:
# write your answer here
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [72]:
import random

In [73]:
new_group=[]
for i in range (6):
  ls=random.sample(studnet_list,random.randrange(4, 7))
  new_group.append(ls)
  studnet_list=[e for e in studnet_list if e not in ls]

In [76]:
lst=['first','second','third','fourth','fifth','sixth']
j=0
for i in new_group:
  print( lst[j],' group is',i)
  j=j+1

first  group is ['pr0353', 'jl1252', 'sk1386', 'sm1907']
second  group is ['ak0956', 'av0659', 'sg1297', 'sc1229', 'aos0040', 'bg0320']
third  group is ['dr0609', 'nv0234', 'sk1458', 'sm1640', 'hy0232']
fourth  group is ['gn0108', 'kg0470', 'sb1357', 'fh0141']
fifth  group is ['ds0814', 'kg0569', 'vb0218', 'ak0934']
sixth  group is ['sa1198', 'nm0618', 'ms1500', 'sk1390']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [90]:
# write your answer here
integers=[1,2,5,1,4,9,4,7,8]
dup=[]
for i in integers:
  count=0
  for j in integers:
    if i==j:
      count=count+1
  if count>1:
    dup.append(i)
if len(dup)==0:
  print(-1)
else:
  print(set(dup))

{1, 4}

0

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here