<a href="https://colab.research.google.com/github/jivitheshreddy/INFO-5731-Srping2023/blob/main/INFO5731_Assignment_One_spring2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [4]:
# Your code here
import random

rand_numbers = []
for i in range(12):
    rand_numbers.append(random.randint(1, 100))
print('Random_Numbers :',rand_numbers)

print("List_Ascending order:", sorted(rand_numbers))


print("List_Descending order:", sorted(rand_numbers, reverse=True))


print("Group_Average:", sum(rand_numbers) / len(rand_numbers))

Random_Numbers : [51, 93, 12, 81, 59, 47, 74, 32, 57, 88, 27, 97]
List_Ascending order: [12, 27, 32, 47, 51, 57, 59, 74, 81, 88, 93, 97]
List_Descending order: [97, 93, 88, 81, 74, 59, 57, 51, 47, 32, 27, 12]
Group_Average: 59.833333333333336

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [25]:
sentence1 = input("Enter the first sentence: ")
sentence2 = input("Enter the second sentence: ")

import re 
import string
def split(inp):
    res=re.compile(r'\w+|[^\w\s]')
    return res.findall(inp)
sentence1_list=split(sentence1)
sentence2_list=split(sentence2)

common_word = []
for word in sentence1_list:
    if word in sentence2_list:
        common_word.append(word)
print('Common words are',common_word)

punctuation = string.punctuation

no_punct1 = ""
for char in sentence1:
    if char not in punctuation:
        no_punct1 = no_punct1 + char

no_punct2 = ""
for char in sentence2:
    if char not in punctuation:
        no_punct2 = no_punct2 + char
print('Sentence 1 after removing puncutaion',no_punct1)
print('Sentence 2 after removing puncutaion',no_punct2)

def vowel_count(ll):
    cnt = {}
    for z in "aeiou":
        ct = ll.count(z)
        cnt[z]=ct
    return cnt
print("Vowels in sentence 1 :- ",vowel_count(sentence1.lower()))
print("Vowels in sentence 2 :- ",vowel_count(sentence2.lower()))

Enter the first sentence: Hi, how are you doing.?
Enter the second sentence: Hi, I am doing good.!
Common words are ['Hi', ',', 'doing', '.']
Sentence 1 after removing puncutaion Hi how are you doing
Sentence 2 after removing puncutaion Hi I am doing good
Vowels in sentence 1 :-  {'a': 1, 'e': 1, 'i': 2, 'o': 3, 'u': 1}
Vowels in sentence 2 :-  {'a': 1, 'e': 0, 'i': 3, 'o': 3, 'u': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [28]:
pi=3.14
for r in range(1,11):
  V = (4/3)*pi*(r)**3
  print('Volume with radius ',r,'is ',V)

Volume with radius  1 is  4.1866666666666665
Volume with radius  2 is  33.49333333333333
Volume with radius  3 is  113.03999999999999
Volume with radius  4 is  267.94666666666666
Volume with radius  5 is  523.3333333333334
Volume with radius  6 is  904.3199999999999
Volume with radius  7 is  1436.0266666666666
Volume with radius  8 is  2143.5733333333333
Volume with radius  9 is  3052.08
Volume with radius  10 is  4186.666666666667

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [7]:
import pandas as pd
import numpy as np
data=pd.read_csv('/content/Assignment1_denton_housing.csv')

In [8]:
diffdata=data[data["title_field"] == "Occupied Housing Units"].sort_values(by=["year"])

In [9]:
#task1
diffdata.value.diff()

20       NaN
17    -795.0
14    5091.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
Name: value, dtype: float64

In [10]:
data['title_field'].value_counts()

Total Housing Units       7
Vacant Housing Units      7
Occupied Housing Units    7
Owner Occupied            7
Renter Occupied           7
Median Gross Rent         7
Name: title_field, dtype: int64

In [11]:
data1=data[data['title_field']=='Vacant Housing Units' ]

In [12]:
 data2=data[data['title_field']=='Occupied Housing Units' ]

In [13]:
 data3=data[data['title_field']=='Total Housing Units' ]

In [14]:
new_data=data1.append(data2,ignore_index=True)
new_data1=new_data.append(data3,ignore_index=True)

In [15]:
pivot_data_percentage=pd.pivot_table(new_data1,index='year',values='value',columns='title_field')

In [16]:
pivot_data_percentage['vacant_perc']=(pivot_data_percentage['Vacant Housing Units']/pivot_data_percentage['Total Housing Units'])*100

In [17]:
pivot_data_percentage['Occupied_perc']=(pivot_data_percentage['Occupied Housing Units']/pivot_data_percentage['Total Housing Units'])*100

In [18]:
#Task2
pivot_data_percentage.drop(columns=['Vacant Housing Units','Occupied Housing Units','Total Housing Units'])

title_field  vacant_perc  Occupied_perc
year
2008           10.882653      89.117347
2009            9.071116      90.928884
2010            8.142556      91.857444
2011            9.379522      90.620478
2012            6.677600      93.322400
2013            8.801788      91.198212
2014            5.730111      94.269889

In [33]:
#task3
new_data.groupby(['title_field'])['value'].max()

title_field
Occupied Housing Units    46295
Vacant Housing Units       4483
Name: value, dtype: int64

In [189]:
new_data1.columns

Index(['year', 'title_field', 'value'], dtype='object')

In [195]:
from scipy import stats
print('Harmonic mean of total housing units is {0}'.format(stats.hmean(pivot_data_percentage['Total Housing Units'])))

Harmonic mean of total housing units is 44398.28543969185